doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/styles.css")
        title Comp1537 - Lab 04
    body
        .container
            header#banner.header.container--fill
                h1.header__title Lab 04
                p.header__description
                    small Extremely Responsive
            nav.nav.nav--primary.container--fill
                    a.nav__link(href="#") Home
                    a.nav__link(href="#") Explore
                    a.nav__link(href="#") Help
                    a.nav__link--end(href="#") Other
            section#main.container--left
                article.card
                    h2.card__title Title 1
                    h5.card__description Desc 1
                    p.card__body Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo eligendi velit corrupti pariatur commodi earum eius! Atque ipsam vel non possimus? Quo, dolor corrupti!
                article.card
                    h2.card__title Title 2
                    h5.card__description Desc 2
                    .card__body 
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit consectetur cum expedita illo laudantium labore et quaerat optio voluptate perspiciatis natus maiores quos eius, quae quidem accusantium? Odit, iure?
                        img.card__img(src="https://via.placeholder.com/200x350", width=200, height=350)
                        img.card__img(src="https://via.placeholder.com/200x350", width=200, height=350)
            aside.container--right
                article.card
                    h2.card__title Title 3
                    h5.card__description Desc 3
                    p.card__body Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est debitis, repellendus pariatur optio dicta mollitia quos suscipit tenetur facilis quia itaque necessitatibus labore praesentium voluptatum dolorum tempore porro illo quis recusandae nisi!
            footer#footer.container--fill
                h2 Footer